{% include 'overall_header.html' %}

<a name="maincontent"></a>

<h1>{{ lang('ACP_MAILINGLIST_SETTINGS') }}</h1>

{% if S_ADD_MAILINGLIST or S_EDIT_MAILINGLIST %}

	<p>{{ lang('ACP_MAILINGLIST_SETTINGS_EXPLAIN') }}</p>

	{% if S_ERROR %}
		<div class="errorbox">
			<h3>{{ lang('WARNING') }}</h3>
			<p>{{ ERROR_MSG }}</p>
		</div>
	{% endif %}

	<form id="acp_mailinglist" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('MAILINGLIST_OPTIONS') }}</legend>

		<dl>
			<dt><label for="mailinglist_email">{{ lang('MAILINGLIST_EMAIL') ~ lang('COLON') }}</label><br><span>{{ lang('MAILINGLIST_EMAIL_EXPLAIN') }}</span></dt>
			<dd><input type="text" name="mailinglist_email" id="mailinglist_email" value="{{ S_MAILINGLIST_EMAIL }}" maxlength="500" size="40"></dd>
		</dl>
		<dl>
			<dt><label for="mailinglist_forums">{{ lang('MAILINGLIST_FORUMS') ~ lang('COLON') }}</label><br><span>{{ lang('MAILINGLIST_FORUMS_EXPLAIN') }}</span></dt>
			<dd><select id="mailinglist_forums" name="mailinglist_forum_ids[]" multiple="multiple" size="10">{{ S_FORUM_OPTIONS }}</select></dd>
			<dd><label><input type="checkbox" class="radio" name="all_forums" value="1"{% if S_ALL_FORUMS %} checked="checked"{% endif %}> {{ lang('ALL_FORUMS') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="mailinglist_post_type">{{ lang('MAILINGLIST_POST_TYPE') ~ lang('COLON') }}</label><br><span>{{ lang('MAILINGLIST_POST_TYPE_EXPLAIN') }}</span></dt>
			<dd>
				<select name="mailinglist_post_type" id="mailinglist_post_type">
					<option value="1"{% if S_MAILINGLIST_POST_TYPE eq 1 %} selected="selected"{% endif %}>{{ lang('NEW_POSTS') }}</option>
					<option value="2"{% if S_MAILINGLIST_POST_TYPE eq 2 %} selected="selected"{% endif %}>{{ lang('NEW_TOPICS') }}</option>
					<option value="3"{% if S_MAILINGLIST_POST_TYPE eq 3 %} selected="selected"{% endif %}>{{ lang('NEW_POSTS_NEW_TOPICS') }}</option>
				</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="mailinglist_include_contents">{{ lang('MAILINGLIST_INCLUDE_CONTENTS')  ~ lang('COLON') }}</label><br><span>{{ lang('MAILINGLIST_INCLUDE_CONTENTS_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" name="mailinglist_include_contents" value="1"{% if S_MAILINGLIST_INCLUDE_CONTENTS %} checked="checked"{% endif %}  class="radio"> {{ lang('YES') }}</label>
			<label><input type="radio" name="mailinglist_include_contents" id="mailinglist_include_contents" value="0"{% if not S_MAILINGLIST_INCLUDE_CONTENTS %} checked="checked"{% endif %} class="radio"> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="mailinglist_unsubscribe">{{ lang('MAILINGLIST_UNSUBSCRIBE') ~ lang('COLON') }}</label><br><span>{{ lang('MAILINGLIST_UNSUBSCRIBE_EXPLAIN') }}</span></dt>
			<dd><input type="text" name="mailinglist_unsubscribe" id="mailinglist_unsubscribe" value="{{ S_MAILINGLIST_UNSUBSCRIBE }}" maxlength="500" size="40"></dd>
		</dl>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
			<input class="button2" type="submit" id="cancel" name="cancel" value="{{ lang('CANCEL') }}">
			<input type="hidden" name="action" value="{% if S_ADD_MAILINGLIST %}add{% else %}edit{% endif %}">
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>
	</form>

{% else %}

	<form id="mailinglists" method="post" action="{U_ACTION}">
		<table class="table1 zebra-table">
		<thead>
		<tr>
			<th>{{ lang('MAILINGLIST_EMAIL') }}</th>
			<th>{{ lang('MAILINGLIST_FORUMS') }}</th>
			<th>{{ lang('MAILINGLIST_POST_TYPE') }}</th>
			<th>{{ lang('MAILINGLIST_INCLUDE_CONTENTS') }}</th>
			<th>{{ lang('HAS_UNSUBSCRIBE_LINK') }}</th>
			<th colspan="2" style="text-align: center;">{{ lang('ACTIONS') }}</th>
		</tr>
		</thead>
		<tbody>
		{% for mailinglist in mailinglists %}
			<tr>
				<td style="vertical-align: top;">{{ mailinglist.EMAIL }}</td>
				<td style="vertical-align: top;">{% if mailinglist.FORUMS %}{{ mailinglist.FORUMS }}{% else %}{{ lang('ALL_FORUMS') }}{% endif %}</td>
				<td style="vertical-align: top;">{{ lang(mailinglist.POST_TYPE) }}</td>
				<td style="vertical-align: top;">{{ lang(mailinglist.INCLUDE_CONTENTS) }}</td>
				<td style="vertical-align: top;">{{ lang(mailinglist.UNSUBSCRIBE) }}</td>
				<td style="text-align: center;"><a href="{{ mailinglist.U_EDIT }}">{{ lang('EDIT') }}</a></td>
				<td style="text-align: center;"><a href="{{ mailinglist.U_DELETE }}" data-ajax="row_delete">{{ lang('DELETE') }}</a></td>
			</tr>
		{% else %}
			<tr>
				<td colspan="7" style="text-align: center;">{{ lang('NO_MAILING_LISTS') }}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>

		<fieldset class="quick">
			<input class="button2" type="submit" name="add" value="{{ lang('ADD') }}">
			<input type="hidden" name="action" value="add" />
		</fieldset>
	</form>

{% endif %}

{% include 'overall_footer.html' %}
